header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    color: black;
}
header .headline{
    font-size: 32px;
}
.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.zero {
    background-color: lightpink;
    text-align: center;
}

.main_text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.last {
    background-color: lightgreen;
    padding-top: 20px;
    text-align: center;
}

.copyright {
    text-align: center;
    background-color: lightblue;
    padding-top: 20px;
}