* {
    margin:0; padding:0;
}
header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    color: black;
}
header .headline{
    font-size: 32px;
}
.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}


.one {
    background-color: lightcoral;
}

.main_text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.two {
    background-color: orange;
}

a {
    word-break: break-all;
}

.blank {
    white-space: nowrap;
}

.three {
    background-color: green;
}

.additional {
    background-color: brown;
}

.x  {
    padding-top: 20px;
}

.last {
    padding-top: 50px;
    text-align: center;
}

.copyright {
    text-align: center;
    padding-top: 20px;
}